{% extends "base.html" %}
{% block content %}
<div id="container" style="width:70%; height:700px; margin: 0 auto;">
</div>
{% endblock %}
{% block highcharts %}
        <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(function () {
    $('#container').highcharts('StockChart', {
        // title: {
        //     text: 'Number of friends available (Hourly)',
        //     style: { "fontSize": "28px", "font-weight":"bold" },
        //     margin: 20,
        // },
        title: {
                text: 'Friends available by hour'
            },
            xAxis: {
                gapGridLineWidth: 0
            },
        series : [{
            name : 'Number available',
            data : {{ json_response }},
        }],
        rangeSelector : {
                buttons : [{
                    type : 'hour',
                    count : 1,
                    text : '1h'
                }, {
                    type : 'day',
                    count : 1,
                    text : '1D'
                }, {
                    type : 'all',
                    count : 1,
                    text : 'All'
                }],
        }
    });
});
</script>
{% endblock %}